
[[language]]
name = "fish"
language-servers = ["fish-lsp"]
file-types = ["fish"]
formatter = { command = "fish_indent" }
auto-format = true

[language-server.fish-lsp]
command = "fish-lsp"
args = ["start"]
environment = { "fish_lsp_show_client_popups" = "false" }


